tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman";
	mso-generic-font-family:auto;
	mso-font-charset:204;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.font8
	{color:windowtext;
	font-size:7.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.font9
	{color:windowtext;
	font-size:7.5pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Trebuchet MS", sans-serif;
	mso-font-charset:0;}
.font10
	{color:windowtext;
	font-size:7.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
.font11
	{color:windowtext;
	font-size:7.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Trebuchet MS", sans-serif;
	mso-font-charset:0;}
.font12
	{color:windowtext;
	font-size:7.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Trebuchet MS", sans-serif;
	mso-font-charset:0;}
.font13
	{color:windowtext;
	font-size:7.5pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman", serif;
	mso-font-charset:0;}
.font14
	{color:windowtext;
	font-size:7.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Times New Roman";
	mso-generic-font-family:auto;
	mso-font-charset:204;
	mso-number-format:General;
	text-align:left;
	vertical-align:top;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	color:windowtext;
	font-size:7.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:center;
	border:.5pt solid black;
	white-space:normal;}
.xl66
	{mso-style-parent:style0;
	color:windowtext;
	font-size:7.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	text-align:right;
	border:.5pt solid black;
	white-space:normal;
	padding-right:30px;
	mso-char-indent-count:2;}
.xl67
	{mso-style-parent:style0;
	color:windowtext;
	font-size:7.5pt;
	font-family:"Trebuchet MS";
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:.5pt solid black;
	white-space:normal;}
.xl68
	{mso-style-parent:style0;
	font-size:7.5pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:center;
	border:.5pt solid black;
	white-space:nowrap;
	mso-text-control:shrinktofit;}
.xl69
	{mso-style-parent:style0;
	font-size:7.5pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:right;
	border:.5pt solid black;
	white-space:nowrap;
	mso-text-control:shrinktofit;
	padding-right:30px;
	mso-char-indent-count:2;}
.xl70
	{mso-style-parent:style0;
	font-size:7.5pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	text-align:right;
	border:.5pt solid black;
	white-space:nowrap;
	mso-text-control:shrinktofit;
	padding-right:45px;
	mso-char-indent-count:3;}
.xl71
	{mso-style-parent:style0;
	border:.5pt solid black;
	white-space:normal;}
.xl72
	{mso-style-parent:style0;
	text-align:center;
	border:.5pt solid black;
	white-space:normal;}
.xl73
	{mso-style-parent:style0;
	text-align:right;
	border:.5pt solid black;
	white-space:normal;
	padding-right:30px;
	mso-char-indent-count:2;}
.xl74
	{mso-style-parent:style0;
	font-size:7.5pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	border:.5pt solid black;
	white-space:nowrap;
	mso-text-control:shrinktofit;
	padding-left:45px;
	mso-char-indent-count:3;}
.xl75
	{mso-style-parent:style0;
	font-size:7.5pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	mso-number-format:0;
	border:.5pt solid black;
	white-space:nowrap;
	mso-text-control:shrinktofit;
	padding-left:30px;
	mso-char-indent-count:2;}
.xl76
	{mso-style-parent:style0;
	color:windowtext;
	font-size:7.5pt;
	font-weight:700;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:.5pt solid black;
	white-space:normal;
	padding-left:30px;
	mso-char-indent-count:2;}
.xl77
	{mso-style-parent:style0;
	vertical-align:middle;
	border:.5pt solid black;
	white-space:normal;}
.xl78
	{mso-style-parent:style0;
	border-top:none;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:285px;
	mso-char-indent-count:19;}
.xl79
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:none;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:30px;
	mso-char-indent-count:2;}
.xl80
	{mso-style-parent:style0;
	border-top:none;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:30px;
	mso-char-indent-count:2;}
.xl81
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:60px;
	mso-char-indent-count:4;}
.xl82
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:60px;
	mso-char-indent-count:4;}
.xl83
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:60px;
	mso-char-indent-count:4;}
.xl84
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;}
.xl85
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;}
.xl86
	{mso-style-parent:style0;
	text-align:center;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;}
.xl87
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:210px;
	mso-char-indent-count:14;}
.xl88
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:210px;
	mso-char-indent-count:14;}
.xl89
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:210px;
	mso-char-indent-count:14;}
.xl90
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:120px;
	mso-char-indent-count:8;}
.xl91
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:120px;
	mso-char-indent-count:8;}
.xl92
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:120px;
	mso-char-indent-count:8;}
.xl93
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:195px;
	mso-char-indent-count:13;}
.xl94
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:195px;
	mso-char-indent-count:13;}
.xl95
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:195px;
	mso-char-indent-count:13;}
.xl96
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:30px;
	mso-char-indent-count:2;}
.xl97
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:30px;
	mso-char-indent-count:2;}
.xl98
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:30px;
	mso-char-indent-count:2;}
.xl99
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:165px;
	mso-char-indent-count:11;}
.xl100
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:165px;
	mso-char-indent-count:11;}
.xl101
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:165px;
	mso-char-indent-count:11;}
.xl102
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:75px;
	mso-char-indent-count:5;}
.xl103
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:75px;
	mso-char-indent-count:5;}
.xl104
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:75px;
	mso-char-indent-count:5;}
.xl105
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:255px;
	mso-char-indent-count:17;}
.xl106
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:255px;
	mso-char-indent-count:17;}
.xl107
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:255px;
	mso-char-indent-count:17;}
.xl108
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:150px;
	mso-char-indent-count:10;}
.xl109
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:150px;
	mso-char-indent-count:10;}
.xl110
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:150px;
	mso-char-indent-count:10;}
.xl111
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:225px;
	mso-char-indent-count:15;}
.xl112
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:225px;
	mso-char-indent-count:15;}
.xl113
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:225px;
	mso-char-indent-count:15;}
.xl114
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:90px;
	mso-char-indent-count:6;}
.xl115
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:90px;
	mso-char-indent-count:6;}
.xl116
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:90px;
	mso-char-indent-count:6;}
.xl117
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:45px;
	mso-char-indent-count:3;}
.xl118
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:45px;
	mso-char-indent-count:3;}
.xl119
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:45px;
	mso-char-indent-count:3;}
.xl120
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:180px;
	mso-char-indent-count:12;}
.xl121
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:180px;
	mso-char-indent-count:12;}
.xl122
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:180px;
	mso-char-indent-count:12;}
.xl123
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:105px;
	mso-char-indent-count:7;}
.xl124
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:105px;
	mso-char-indent-count:7;}
.xl125
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:105px;
	mso-char-indent-count:7;}
.xl126
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:135px;
	mso-char-indent-count:9;}
.xl127
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:135px;
	mso-char-indent-count:9;}
.xl128
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:135px;
	mso-char-indent-count:9;}
.xl129
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:15px;
	mso-char-indent-count:1;}
.xl130
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:15px;
	mso-char-indent-count:1;}
.xl131
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:15px;
	mso-char-indent-count:1;}
.xl132
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:285px;
	mso-char-indent-count:19;}
.xl133
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:285px;
	mso-char-indent-count:19;}
.xl134
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:285px;
	mso-char-indent-count:19;}
.xl135
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:.5pt solid black;
	white-space:normal;
	padding-left:240px;
	mso-char-indent-count:16;}
.xl136
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:none;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:240px;
	mso-char-indent-count:16;}
.xl137
	{mso-style-parent:style0;
	border-top:.5pt solid black;
	border-right:.5pt solid black;
	border-bottom:.5pt solid black;
	border-left:none;
	white-space:normal;
	padding-left:240px;
	mso-char-indent-count:16;}
